.category {
  width: 100%;
  margin-top: 73px;
  &__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    gap: 20px;

    &-card {
      height: 239px;
      width: 354px;
      display: flex;
      align-items: center;
      gap: 20px;
      border-radius: 22px;
      background: #f6f6f6;
      padding: 35px;
    }

    &-text {
      h3 {
        font-size: 36px;
        font-weight: 700;
        line-height: 100%;
        margin-bottom: 6px;
      }
      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: #8b8e99;
      }
    }
  }
}
