.header {
  width: 100%;
  position: absolute;
}

.navbar {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  cursor: pointer;
  &__logo {
    width: 78px;
    height: 27px;
  }
  &__collection {
    display: flex;
    gap: 27px;
    a {
      &:hover {
        color: #3858d6;
        transition: color 0.3s ease;
      }
    }
  }
  &__icons {
    display: flex;
    gap: 15.38px;
  }
}
